---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import { getExcerpt } from '../../../../utils/truncate';
import { formatDate } from '../../../../utils/formatDate';
import Pagination from '../../../../components/Pagination.astro';
import { SITE_CONFIG } from '../../../../config/constants';

export async function getStaticPaths() {  
  const allPosts = await getCollection('posts');  
  const allAuthors = [...new Set(
    allPosts
      .map(post => post.data.author)
      .filter(Boolean)
  )];
  
  const paths = Array.from(allAuthors).flatMap(author => {
    const authorPosts = allPosts
      .filter(post => post.data.author === author)
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
    
    const totalPages = Math.ceil(authorPosts.length / SITE_CONFIG.archivePostsPerPage);
    
    const pageNumbers = Array.from({ length: totalPages - 1 },(_, i) => i + 2);
    
    return pageNumbers.map(pageNum => {
      const startIndex = (pageNum - 1) * SITE_CONFIG.archivePostsPerPage;
      const currentPosts = authorPosts.slice(startIndex, startIndex + SITE_CONFIG.archivePostsPerPage);
      
      return {
        params: {
          author: author?.toLowerCase().replace(/\s+/g, '-'),
          page: String(pageNum)
        },
        props: {
          authorName: author,
          currentPage: pageNum,
          totalPages,
          currentPosts
        }
      };
    });
  });
  
  return paths;
}

const { authorName, currentPage, totalPages, currentPosts } = Astro.props;

---

<BaseLayout title={`${authorName} - Page ${currentPage} - Glarysoft How-to Articles`}>
    <div class="container">
        <div class="page-header-wrap">
            <h1 class="page-header archive-header x-large-font-size">Author: {authorName}</h1>
        </div>
        <section class="posts-section">
          <ul class="post-grid">            
            {currentPosts.map(post => (
                <li>
                    <div class="post-card">
                        <h3 class="post-title">
                            <a class="post-link" href={`/posts/${post.data.slug}`}>
                            {post.data.title}
                            </a>
                        </h3>
                        <div class="post-meta">
                            <span>{formatDate(post.data.date)}</span> — by <a href={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`}>{authorName}</a> in <a href={`/categories/${post.data.categories}/`}>{post.data.categories?.join(', ') || ''}</a>
                        </div> 
                        <div class="post-content">
                            <p class="post-excerpt">
                                {getExcerpt(post.body ?? "", 55)}
                            </p>
                            <p class="read-more"> 
                                <a class="read-more-link" href={`/posts/${post.data.slug}`}>read more</a>
                            </p>
                        </div>
                    </div>
                </li>
            ))}            
        </ul>
        <Pagination currentPage={currentPage} totalPages={totalPages} baseUrl={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`} />
      </section>        
    </div>
</BaseLayout>
