---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getExcerpt } from '../../utils/truncate';
import { formatDate } from '../../utils/formatDate';
import Pagination from '../../components/Pagination.astro';
import { SITE_CONFIG } from '../../config/constants';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');  
  const allAuthors = [...new Set(
    allPosts
      .map(post => post.data.author)
      .filter(Boolean)
  )];
  
  const paths = allAuthors.map(author => {
    const authorPosts = allPosts
      .filter(post => post.data.author === author)
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    const currentPage = 1;
    const totalPages = Math.ceil(authorPosts.length / SITE_CONFIG.archivePostsPerPage);

    const currentPosts = authorPosts.slice(0, SITE_CONFIG.archivePostsPerPage);
    return {
      params: { 
        name: author?.toLowerCase().replace(/\s+/g, '-') 
      },
      props: { 
        authorName: author,
        currentPage,
        totalPages,
        currentPosts        
      }
    }
    
  });
  return paths;
}

const { authorName, currentPage, totalPages, currentPosts } = Astro.props;

---


<BaseLayout title={`${authorName} - Glarysoft How-to Articles`}>
    <div class="container">
        <div class="page-header-wrap">
            <h1 class="page-header archive-header x-large-font-size">Author: {authorName}</h1>
        </div>   
        <section class="posts-section">
            <ul class="post-grid" role="list">            
            {currentPosts.map(post => (
                <li>
                    <div class="post-card">
                        <h3 class="post-title">
                            <a class="post-link" href={`/posts/${post.data.slug}`}>
                            {post.data.title}
                            </a>
                        </h3>
                        <div class="post-meta">
                            <span>{formatDate(post.data.date)}</span> — by <a href={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`}>{authorName}</a> in <a href={`/categories/${post.data.categories}/`}>{post.data.categories?.join(', ') || ''}</a>
                        </div> 
                        <div class="post-content">
                            <p class="post-excerpt">
                                {getExcerpt(post.body ?? "", 55)}
                            </p>
                            <p class="read-more"> 
                                <a class="read-more-link" href={`/posts/${post.data.slug}`}>read more →</a>
                            </p>
                        </div>
                    </div>
                </li>
            ))}            
            </ul>
            <Pagination currentPage={currentPage} totalPages={totalPages}  baseUrl={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`} />
        </section>          
    </div>
</BaseLayout>
