---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getExcerpt } from '../../utils/truncate';
import Pagination from '../../components/Pagination.astro';


export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  
  //提取不重复的作者名
  const allAuthors = [...new Set(
    allPosts
      .map(post => post.data.author)
      .filter(Boolean)
  )];

  //生成路径
  return allAuthors.map(author => ({
    params: { 
      name: author?.toLowerCase().replace(/\s+/g, '-') 
    },
    props: { 
      authorName: author,
      authorPosts: allPosts.filter(post => post.data.author === author)
    }
  }));
}

// 接收参数
const { authorName, authorPosts } = Astro.props;

// 给该作者的文章排序
authorPosts.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

// 首页直接显示第一页的内容
const POSTS_PER_PAGE = 9;
const currentPage = 1;

// 计算总页数
const totalPages = Math.ceil(authorPosts.length / POSTS_PER_PAGE);

// 获取第一页的文章
const startIndex = 0;
const currentPosts = authorPosts.slice(startIndex, startIndex + POSTS_PER_PAGE);

// 格式化日期函数
function formatDate(date: Date) {
  return date.toLocaleDateString('en-US', {
    month: 'short',
    day: 'numeric',
    year: 'numeric'
  });
}
---


<BaseLayout title={`${authorName} - Glarysoft How-to Articles`}>
    <div class="container" style="margin-top: 1.2rem;">
        <div>
            <p class="block-spacer-50"></p>
            <h1 class="x-large-font-size">Author: {authorName}</h1>
            <p class="block-spacer-30"></p>
        </div>        
        <ul class="is-layout-grid is-layout-grid-3">            
            {currentPosts.map(post => (
                <li>
                    <div class="post-card">
                        <h2>
                            <a href={`/posts/${post.data.slug}`}>
                            {post.data.title}
                            </a>
                        </h2>
                        <div class="post-meta">
                            <span>{formatDate(post.data.date)}</span> — by <a href={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`}>{authorName}</a> in <a href={`/categories/${post.data.categories}/`}>{post.data.categories?.join(', ') || ''}</a>
                        </div> 
                        <div>
                            <p class="post-excerpt">
                                {getExcerpt(post.body ?? "", 55)}
                            </p>
                            <p style="margin-top: 1.2rem;"> 
                                <a href={`/posts/${post.data.slug}`}>read more</a>
                            </p>
                        </div>
                    </div>
                </li>
            ))}            
        </ul>
        <Pagination currentPage={currentPage} totalPages={totalPages}  baseUrl={`/author/${authorName?.toLowerCase().replace(/\s+/g, '-')}/`} />
    </div>
</BaseLayout>
