---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getExcerpt } from '../../utils/truncate';
import { formatDate } from '../../utils/formatDate';
import Pagination from '../../components/Pagination.astro';
import { SITE_CONFIG } from '../../config/constants';

import { formatCategoryName } from '../../utils/categories';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');
  const allCategories = [...new Set(
    allPosts.flatMap(post => post.data.categories || [])
  )];
  
  const paths =  Array.from(allCategories).map(category => {
    const categoryPosts = allPosts
      .filter(post => post.data.categories?.includes(category))
      .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

    const totalPages = Math.ceil(categoryPosts.length / SITE_CONFIG.archivePostsPerPage);
    const currentPage = 1;
    const currentPosts = categoryPosts.slice(0, SITE_CONFIG.archivePostsPerPage);
    
    return {
      params: { cat: encodeURIComponent(category) },
      props: {
        categorySlug: category,
        currentPage,
        totalPages,
        currentPosts,
      }
    };
  });
  return paths;
}

const { categorySlug, currentPage, totalPages, currentPosts } = Astro.props;
const categoryName = formatCategoryName(categorySlug);

---

<BaseLayout title={`${categoryName} - Glarysoft How-to Articles`}>
    <div class="container">
        <div class="page-header-wrap">
            <h1 class="page-header archive-header x-large-font-size">Category: {categoryName}</h1>
        </div>  
        <section>
          <ul class="post-grid">            
            {currentPosts.map(post => (
                <li>
                    <div class="post-card">
                        <h3 class="post-title">
                            <a class="post-link" href={`/posts/${post.data.slug}/`}>{post.data.title}</a>
                        </h3>     
                        <div class="post-meta">
                            <span>{formatDate(post.data.date)}</span> — by <a href={`/author/${post.data.author?.toLowerCase().replace(/\s+/g, '-')}/`}>{post.data.author}</a> in <a href={`/categories/${categorySlug}/`}>{categoryName}</a>
                        </div> 
                        <div class="post-content">
                            <p class="post-excerpt">
                                {getExcerpt(post.body ?? "", 55)}
                            </p>
                            <p class="read-more"> 
                                <a class="read-more-link" href={`/posts/${post.data.slug}`}>read more</a>
                            </p>
                        </div>
                    </div>
                </li>
            ))}            
          </ul>
        <Pagination currentPage={currentPage} totalPages={totalPages}  baseUrl={`/categories/${categorySlug}/`} />
      </section>
    </div>
</BaseLayout>
