---
import { getAllPosts, getPaginatedPosts } from '../../utils/posts';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getExcerpt } from '../../utils/truncate';
import Pagination from '../../components/Pagination.astro';
import { SITE_CONFIG } from '../../config/constants';

export async function getStaticPaths() {
  const allPosts = await getAllPosts();  
  const totalPages = Math.ceil(allPosts.length / SITE_CONFIG.postsPerPage);
  
  return Array.from({ length: totalPages-1 }, (_, i) => {
    const pageNum = i + 2;
    const { posts } = getPaginatedPosts(
      allPosts,
      pageNum,
      SITE_CONFIG.postsPerPage
    );

    return {
      params: { page: String(pageNum) },
      props: {
        pageNum,
        totalPages,
        posts
      },
    };
  });
}

const { pageNum, totalPages, posts: currentPosts } = Astro.props;

---

<BaseLayout title={`${SITE_CONFIG.homePageTitle} - Page ${pageNum}`}>
  <div class="container">
    <div class="page-header-wrap">
      <h1 class="page-header">How to Articles</h1>
    </div>
    <section class="posts-section">
      <ul class="post-grid" role="list">
        {currentPosts.map((post) => (
          <li>
            <article class="post-card">
              <h3 class="post-title">
                <a class="post-link" href={`/posts/${post.data.slug}`}>
                  {post.data.title || 'Untitled'}
                </a>
              </h3>
              <div class="post-content">
                <p class="post-excerpt">
                  {getExcerpt(post.body ?? '', SITE_CONFIG.excerptLength)}
                </p>
                <p class="read-more">
                  <a class="read-more-link" href={`/posts/${post.data.slug}`}>Read More →</a>
                </p>
              </div>
            </article>
          </li>
        ))}
      </ul>
      <Pagination currentPage={pageNum} totalPages={totalPages} baseUrl='/' />
    </section>
  </div>
</BaseLayout>